.photo-list__item {
  margin: 4px;
  padding: 14px;
  border-width: 1px;
  border-color: lightgray;
  border-style: solid;
  border-radius: 8px;
}

.photo-list__image {
  user-select: none;
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0px 0px;
}

.photo-list__user-profile {
  align-self: center;
  justify-content: flex-start;
  font-size: 16px;
  object-fit: cover;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

.photo-list__user-details {
  display: flex;
}

.photo-list__user-info {
  margin-top: 5px;
  font-weight: 700;
  font-size: 12px;
  margin-left: 8px;
  line-height: 0.5;
}

.photo-list__user-location {
  color: #838383;
}
