.photo-details-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  box-shadow: 0 0 0 50vmax rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 60%;
  border-radius: 10px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.photo-details-modal::-webkit-scrollbar {
  display: none;
}
.photo-details-modal__close-button {
  background-color: whitesmoke;
  border-style: none;
  align-self: flex-end;
  position: sticky;
  padding-top: 3px;
  top: 0;
  left: 0;
  cursor: pointer;
  line-height: 0;
}
.photo-details-modal .photo-list__image {
  user-select: none;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0px 0px;
}
.photo-details-modal__images {
  max-width: 90%;
  line-height: 0.1;
}
.photo-details-modal__photographer-details {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  line-height: 0.1;
}
.photo-details-modal__header {
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 90%;
  line-height: 0.5;
}
.photo-details-modal__photographer-location {
  color: #838383;
}
.photo-details-modal__photographer-profile {
  object-fit: cover;
  border-radius: 100%;
  margin-right: 10px;
  width: 45px;
  height: 45px;
  position: relative;
}
.photo-details-modal__image-wrapper {
  justify-content: center;
  max-width: 100%;
  max-height: 90%;
}
.photo-details-modal__image {
  max-width: 100%;
  max-height: 100%;
}
ul.photo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
