.top-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0px;
  align-items: center;
  height: 72px;
  margin-right: 65px; // to compensate for smaller favorite icon vs photolabs logo on the left.
}

.top-nav-bar__logo {
  text-decoration: overline;
  font-weight: 600;
  font-size: 20px;
  color: #111;
  text-underline-position: auto;
}